name: Build Flake

env:
  BuildConfiguration: 'release'
  BuildPlatform: 'any cpu'
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      issues: write
      checks: write
      pull-requests: write
    steps:
      - name: Checkout Source
        uses: actions/checkout@v6
      
      - name: Install .Net SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            9.x
            10.x

      - name: Build
        run: ./build.sh Test
        
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: (!cancelled())
        with:
          files: |
            **/*.trx

      - name: Code Coverage Summary Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        if: (!cancelled())
        with:
          filename: '**/coverage.cobertura.xml'
          badge: true
          format: 'markdown'
          output: 'both'
      - name: Write Code Coverage to Job Summary
        run: cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY