name: Build Flake

env:
  BuildConfiguration: 'release'
  BuildPlatform: 'any cpu'
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Source
        uses: actions/checkout@v5
      
      - name: Install .Net SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            9.x
            10.x

      - name: Build
        run: ./build.sh Test
        